NEXT_PUBLIC_API_URL=http://localhost:5001
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCywjc_JqdJRt0RamdI4ECa_6AiFW5hxTM
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=civicsense-ai-73935.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=civicsense-ai-73935
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=civicsense-ai-73935.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=PASTE_HERE
NEXT_PUBLIC_FIREBASE_APP_ID=PASTE_HERE